{% extends "layout.html" %}
{% block content %}
    <div class="container-narrow">
        <h1 class="mt-5">Welcome {{ current_user.username }}</h1>
        <p>Enter a link to a YouTube Video. </p>
        <form id="videoForm" class="form" method="POST" action="{{ url_for('user.home_logged_in') }}" role="form">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-group">
                <input type="text" class="form-control" id="link" name="link" placeholder="https://www.youtube.com/watch?v=example">
            </div>
            <p><input class="btn btn-primary" type="submit" value="Submit"></p>
        </form>


    </div>
{% endblock %}
